.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #222121;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.back-to-top:hover {
    background-color: #000000;
}

.imgseta {
    width: 30px;
    height: 30px;
    margin-bottom: -2px;
    margin-right: 15px;
    transition: transform 0.5s;
    
}

.imgseta:hover {
    background-color: #222121;
    border-radius: 100%;
    color: #bdd1ce7c;
    background-color: #bdd1ce7c;
    transform: scale(1.2);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    
}           